@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  padding: 0px;
}

.header {
  text-align: center;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  padding: 30px 200px;
  border-bottom: solid 1.5px #0000003b;
}

.links{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.links div{
  display: flex;
  align-items: center;
  gap: 5px;
}

.links div a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.links img{
  width: 24px;
  height: 24px;
  stroke-width: 1px;
}

.linksMobi{
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  gap: 20px;

}

.linksMobi div{
  display: flex;
  align-items: center;
  gap: 5px;
}

.linksMobi div a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
}

.linksMobi img{
  width: 24px;
  height: 24px;
  stroke-width: 1px;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  text-align: start;
}

.logo img {
  width: 70px;
  height: 70px;
}

.logo h1{
  font-size: 28px;
}
.logo p{
  font-size: 16px;
  color: #484848;
}

.banner img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.headerTitle{
  margin: 90px 0px;
}

.headerTitle h2{
  font-size: 52px;
}
.headerTitle p{
  font-size: 23px;
  color: #484848;
}



.job-list {
  max-width: 100%;
  padding: 0px 200px;
}

.job-card {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  border: none;
  border: 1.5px solid #00000048;
}

.job-info {
  max-width: 600px;
}

.job-info h3 {
  margin: 0 0 0.5rem 0;
}

.job-info p {
  margin: 0.25rem 0;
  color: #484848;
}

.job-info p:hover {
  margin: 0.25rem 0;
  color: #313131;
}

.job-card button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  border: 1.5px solid #00000048;
  border-radius: 6px;
  cursor: pointer;

  height: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.tituloModal{
  margin-bottom: 15px;
}

.contatoModal{
  margin-top: 15px;
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 200px;
  margin-top: 80px;
  border-top: solid 1px #0000004f;
}

.footerLogo{
  width: 60px;
}

#menuBurger{
  display: none;
}



@media (max-width: 1200px) {

  .job-list {
    padding: 0px 50px;
  }
  footer {
    padding: 30px 50px;
  }

  .nav {
    padding: 30px 50px;
  }

  .links{
    display: none;
  }

  .linksMobi{
    display: flex;
  }

  #menuBurger{
    display: flex;
  }
}

@media (max-width: 550px){

  .job-list {
    padding: 0px 25px;
  }

  .nav {
    padding: 25px 25px;
  }
  
  .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    text-align: start;
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  .logo h1{
    font-size: 20px;
  }
  .logo p{
    font-size: 15px;
    color: #484848;
  }

  .headerTitle h2{
    font-size: 42px;
  }
  .headerTitle p{
    font-size: 18px;
    color: #484848;
  }

  footer{
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 920px){
  .job-card {
    
    padding: 25px;
    
    justify-content: space-between;
    align-items: start;
    flex-direction: column;

    gap: 20px;
  }

  footer p{
    font-size: 15px;
    width: 50%;
    text-align: center;
  }
}

